---
import Layout from '../layouts/Layout.astro';
import Mobileheader from '../components/Mobileheader.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Indholdsboks from '../components/Indholdsboks.astro';
import Footercard from '../components/Footercard.astro';

---
<Layout title='Om Apoteket'>
    <Mobileheader/>
    <Header/>
    <main>
        <div class="divider"></div>
        <Indholdsboks>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dolorum alias accusamus. Quas odit quidem maiores sit sunt mollitia esse. A in enim modi non expedita ducimus inventore, sapiente eius?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dolorum alias accusamus. Quas odit quidem maiores sit sunt mollitia esse. A in enim modi non expedita ducimus inventore, sapiente eius?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dolorum alias accusamus. Quas odit quidem maiores sit sunt mollitia esse. A in enim modi non expedita ducimus inventore, sapiente eius?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dolorum alias accusamus. Quas odit quidem maiores sit sunt mollitia esse. A in enim modi non expedita ducimus inventore, sapiente eius?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dolorum alias accusamus. Quas odit quidem maiores sit sunt mollitia esse. A in enim modi non expedita ducimus inventore, sapiente eius?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dolorum alias accusamus. Quas odit quidem maiores sit sunt mollitia esse. A in enim modi non expedita ducimus inventore, sapiente eius?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dolorum alias accusamus. Quas odit quidem maiores sit sunt mollitia esse. A in enim modi non expedita ducimus inventore, sapiente eius?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dolorum alias accusamus. Quas odit quidem maiores sit sunt mollitia esse. A in enim modi non expedita ducimus inventore, sapiente eius?</p>
        </Indholdsboks>



    </main> 
    <Footercard/>
</Layout>
<style>
    .divider {
        height: 95px;
    }
    main {
        z-index: 0;
    }
</style>