---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Personalecard.astro';
import Footercard from '../components/Footercard.astro'
import Header from '../components/Header.astro';
import Mobileheader from '../components/Mobileheader.astro';
import Personalecard from '../components/Personalecard.astro';
import Hero from '../components/Hero.astro'
import '../style.css'
import Indholdsboks from '../components/Indholdsboks.astro'
---

<Layout title="Welcome to Astro.">
	<Mobileheader/>
	<Header/>
	<main>
		<Hero/>
		<Indholdsboks></Indholdsboks>

		<Personalecard/>
	</main>


	<Footercard/>
	
</Layout>

<style>

</style>
