---
import Layout from '../layouts/Layout.astro';
import Footercard from '../components/Footercard.astro'
import Header from '../components/Header.astro';
import Mobileheader from '../components/Mobileheader.astro';
import Personalecard from '../components/Personalecard.astro';
import Hero from '../components/Hero.astro'
import '../style.css'
import Indholdsboks from '../components/Indholdsboks.astro'
import Button from '../components/Button.astro';
---

<Layout title="Øens Apotek">
	<Mobileheader/>
	<Header/>
	<main>
		<Hero image="heroindexfinal3.webp" variant="front"/>
		<Indholdsboks>
			<div class="indexparent">
				<section>
			<h1>Velkommen til Øens Apotek</h1>
			<p>På stueetagen af Amagercenteret byder vores erfarne personale dig velkommen. Vi brænder for at bistå dig med et smil og tage hånd om dine individuelle sundhedsbehov. Hos Øens kan du forvente en empatisk, professionel og skræddersyet tilgang til rådgivning, sparring, tjenester og produkter.</p>
			<p>Vores sortiment omfatter nøje udvalgte varer og medicin af højeste kvalitet og sikkerhed. Lagerstatus opdateres dagligt, så du kan opleve en gnidningsløs vej mod sundhed, velvære og mental balance.</p>
			</section>
<section class="knapper">
			<h2>E-handel</h2> 
				<div class="knapperne">
						<div class="knap1">
							<Button href="https://www.dinapoteker.dk/" title="Bestil online" body="gå til dinApoteker.dk"/>
						</div>
						<div class="knap2">
								<h4>Vi tilbyder e-handel via dinApoteker.dk</h4>
								<p>Få dine varer leveret direkte hjem med bud eller post, eller gør dem klar til afhentning.</p>
						</div>
				</div>
</section>
<section class="vaccination">
			<h2>Vaccination</h2>
			<p>På apoteket tilbyder vi vaccinationer mod influenza og covid-19 hver mandag og fredag. Du kan læse mere om dine muligheder under <a href="/raadgivning">Rådgivning</a>.</p>
			</section>
			</div>
		</Indholdsboks>
	</main>
	<Footercard/>
</Layout>

<style>
section {
    padding-bottom: 2.2rem;
}
h1 {
	margin: 0.625rem;
	padding: 0.625rem;
}
h2 {
	margin: 0.625rem;
	padding: 0.625rem 0.625rem 0 0.625rem;
	align-self: flex-start;
}
a:hover {
	cursor: pointer;
	text-decoration: none;
	color: var(--main-blue);
	}
p {
	margin: 0.625rem;
	padding: 0.625rem;
	line-height: 1.5;
}
.knapper {
  	background-color: var(--dark-white);
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
	padding-bottom: 0;
}
.knapperne {
  	margin: 0.625rem;
  	padding: 0.625rem;
}
.knap1 {
	margin-bottom: 1.25rem;
}
.knap2 {
	margin-bottom: 1.25rem;
	display: flex;
	flex-direction: column;	
}
.knap2 p,.knap2 h4 {
	margin: 0;
	padding: 0;
	font-size: 1.1rem;
	line-height: 1.5;
}
.vaccination {
		padding-top: 2.2rem;
}
@media (min-width: 460px) {
	.knapperne {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .knap1,
  .knap2 {
    margin: 0 0.625rem;
  }
  .knap2 h4 {
	font-size: 1.5rem;
}
  .knapper {
    background-color: var(--bright-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .indexparent {
	max-width: 900px;
	margin: 0 auto;
  }
}
</style>
