---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Mobileheader from '../components/Mobileheader.astro';
---

<Layout title="Welcome to Astro.">
	<Mobileheader/>
	<Header/>
	<main>

	</main>

	
</Layout>

<style>

</style>
