---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
<<<<<<< HEAD
import Footercard from '../components/Footercard.astro'
---

<Layout title="Welcome to Astro.">
	
=======
import Header from '../components/Header.astro';
import Mobileheader from '../components/Mobileheader.astro';
---

<Layout title="Welcome to Astro.">
	<Mobileheader/>
	<Header/>
>>>>>>> main
	<main>
	
	</main>

<<<<<<< HEAD

	<Footercard/>
=======
	
>>>>>>> main
</Layout>

<style>

</style>
