---
import Layout from '../layouts/Layout.astro';
import Footercard from '../components/Footercard.astro'
import Header from '../components/Header.astro';
import Mobileheader from '../components/Mobileheader.astro';
import Personalecard from '../components/Personalecard.astro';
import Hero from '../components/Hero.astro'
import Button from '../components/Button.astro';
---

<Layout title="Welcome to Astro.">
	<Mobileheader/>
	<Header/>
	<main>
		<Hero/>
		<Personalecard/>
		<Button href="#" title="Medicin To Go" body="Få medicin leveret til døren"/>
	</main>
	<Footercard/>
</Layout>

<style>
</style>
