---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Footercard from '../components/Footercard.astro'
---

<Layout title="Welcome to Astro.">
	
	<main>
	
	</main>


	<Footercard/>
</Layout>

<style>

</style>
