---
import Layout from '../layouts/Layout.astro';
import Footercard from '../components/Footercard.astro'
import Header from '../components/Header.astro';
import Mobileheader from '../components/Mobileheader.astro';
import Personalecard from '../components/Personalecard.astro';
import Hero from '../components/Hero.astro'
import '../style.css'
import Indholdsboks from '../components/Indholdsboks.astro'
import Button from '../components/Button.astro';
---

<Layout title="Welcome to Astro.">
	<Mobileheader/>
	<Header/>
	<main>
		<Hero/>
		<Indholdsboks>
			<h1>HEJ</h1>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam pariatur facere nostrum ex reprehenderit corporis non a commodi illo in, hic eius voluptatibus exercitationem optio unde. Quibusdam quasi magni laborum!</p>
			
			<Button href="#" title="Medicin To Go" body="Få medicin leveret til døren"/>
		</Indholdsboks>

		
		
	</main>
	<Footercard/>
</Layout>

<style>
</style>
