---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Personalecard.astro';
import Footercard from '../components/Footercard.astro'
import Header from '../components/Header.astro';
import Mobileheader from '../components/Mobileheader.astro';
import Personalecard from '../components/Personalecard.astro';
---

<Layout title="Welcome to Astro.">
	<Mobileheader/>
	<Header/>
	<main>
		<Personalecard/>
	</main>


	<Footercard/>
	
</Layout>

<style>

</style>
