---
import Layout from '../layouts/Layout.astro';
import Mobileheader from '../components/Mobileheader.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Indholdsboks from '../components/Indholdsboks.astro';
import Personalecard from '../components/Personalecard.astro';
import AstroGreet from '../components/AstroGreet.astro';
---
<Layout title='test'>
    <Mobileheader/>
    <Header/>
    <main>
        <Hero/>
        <Indholdsboks/>
        <Personalecard/>
        <Personalecard/>

        <AstroGreet />
        <AstroGreet />

    </main> 
</Layout>