---
import Layout from '../layouts/Layout.astro';
import Mobileheader from '../components/Mobileheader.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Indholdsboks from '../components/Indholdsboks.astro';


---
<Layout title='Kontakt'>
    <Mobileheader/>
    <Header/>
    <main>
        <Hero image="hero_placeholder3.png"/>
        <Indholdsboks>
            <h1>Kontakt</h1>
            <p>Hvis du har behov for hjælp, sparring eller rådgivning vedrørende dine spørgsmål eller behandling, er vi klar til at assistere dig så hurtigt som muligt i vores ledige timer. Vi sætter din tryghed og sikkerhed i højsædet, så tøv ikke med at kontakte os, uanset hvad din situation er. Vi stræber efter at finde en løsning, der er skræddersyet til dig.</p>	
            <h2>Find vores informationer her:</h2>	
            	
        </Indholdsboks>



    </main> 
</Layout>