---
import Layout from '../layouts/Layout.astro';
import Mobileheader from '../components/Mobileheader.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Indholdsboks from '../components/Indholdsboks.astro';
import Footercard from '../components/Footercard.astro'


---
<Layout title='Kontakt'>
    <Mobileheader/>
    <Header/>
    <main>
        <Hero image="hero_placeholder3.png"/>
        <Indholdsboks>
        <div class="indhold">
         
            <h1>Kontakt</h1>
            <p>Hvis du har behov for hjælp, sparring eller rådgivning vedrørende dine spørgsmål eller behandling, er vi klar til at assistere dig så hurtigt som muligt i vores ledige timer. Vi sætter din tryghed og sikkerhed i højsædet, så tøv ikke med at kontakte os, uanset hvad din situation er. Vi stræber efter at finde en løsning, der er skræddersyet til dig.</p>	
                <h2>Find vores informationer her:</h2>
                <div class="grid_info">
                	
                    <span>
                        <img class="svg"src="/icons/telefon.svg" alt="telefon">
                        <div>
                            <h3>Besøg</h3>
                            <p><strong>Reberbanegade 3,</strong></p>
                            <p>2300 København S</p>
                        </div>
                    </span>

                    <span>
                        <img class="svg"src="/icons/clock.svg" alt="klokke">
                        <div>
                            <h3>Åbningstider:</h3>
                            <p><strong>Mandag - Fredag:</strong> 9.30 – 19.00</p>
                            <p><strong>Lørdag: </strong>10.00 – 17.00</p>
                            <p><strong>Søndag: </strong> Lukket</p>
                        </div>
                    </span>

                    <span>
                        <img class="svg"src="/icons/mail.svg" alt="mail">
                        <div>
                            <h3>Kontaktinformation:</h3>
                            <p><strong>Telefon:</strong> 32 57 83 83</p>
                            <p><strong>Fax: </strong>32 57 40 89</p>
                            <p><strong>E-mail: </strong>243ka@apoteket.dk</p>
                        </div>
                    </span>

                    <span>
                        <img class="svg"src="/icons/telefon.svg" alt="telefon">
                        <div>
                            <h3>Telefontid:</h3>
                            <p><strong>Hverdage: </strong>09.30 -
                            11.30 & 12.30 - 17.30</p>
                            <p><strong>Lørdag: </strong>10.00 - 14.00</p>
                            <p><strong>Søndag:</strong> Lukket</p>
                        </div>
                    </span>
                </div>
            
            	   
        </div>
        </Indholdsboks>



    </main> 
    <Footercard/>
</Layout>

<style>
    .grid_info{
        display: grid;
        grid-template-columns: 1fr;
        width: 70%;
        margin: auto;
        background-color: var( --dark-white:);
    }
ul{
    font-family:  var(--paragraph-font): 
}
    rect {
    max-width: 100%;
    height: auto;
    fill: orange;
}

    p{
        margin: 10px;
	    padding: 10px;
    }

    h1{
    margin: 10px;
	padding: 10px;
}


    h2{
        padding-top: 5%;
        margin: 10px;
	    padding: 10px;
    }

@media (min-width: 460px) {
    .grid_info{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 70%;
        margin: auto;
    }

    .indhold{
        max-width: 75%;
        margin: auto;
        padding-top: 1%;
        padding-bottom: 5%;
    }

    .p{
        font-size: 2rem;
    }

}

</style>