---
import Layout from '../layouts/Layout.astro';
import Mobileheader from '../components/Mobileheader.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Indholdsboks from '../components/Indholdsboks.astro';
import Footercard from '../components/Footercard.astro';
---

<Layout title='Rådgivning'>
 <Mobileheader/>
    <Header/>
    <main>
        
    </main>
</Layout>