---
import '../style.css'
---

<header class="container">
    <div class="desktopheader">
        <a href="/" class="logo">
            <img src='/icons/logofarvetekst.svg' alt="logo">
        </a>
        <ul>
            <li><a href="/aabningstider">Åbningstider</a></li>
            <li><a href="/om">Om apoteket</a></li>
            <li><a href="/kontakt">Kontakt</a></li>
            <li><a href="/personale">Personale</a></li>
        </ul>
    </div>
</header>

<style>
    .container {
        background-color: var(--bright-white);
    }
    .desktopheader {
        background-color: var(--bright-white);
        max-width: 1600px;
        height: 150px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        padding: 20px 10px 10px 10px;
        
    }
    ul {
        display: flex;
        justify-content: space-around;
        padding: 10px;
        width: 650px;
    }
    li {
        list-style: none;
    }
    li:after {
        content: '';
        margin-top: 1px;
        width: 0px;
        height: 2px;
        background-color: var(--light-blue);
        display: block;
        transition: all 200ms ease-in-out;

    }
    li:hover::after {
        width: 100%;
    }
    a {
        text-decoration: none;
        transition: all 200ms ease;
        font-weight: 500;
    }
    a:hover {
        color: var(--light-blue);
    }
    @media (max-width: 460px){
        .desktopheader{
            display: none;
        }
    }
</style>