---
import '../style.css'
---

<div class="parent">

<div class="heroimage"></div>

<div class="indholdsboks"></div>



</div>




<style>

.heroimage {
 height: 50%;
background-image: url("../../public/hero_placeholder.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

</style>