---
import '../style.css'

---

<div class="heroimageparent">
<div class="heroimage">
<img src="/hero_placeholder.png" alt="hero">
</div>
</div>
<style>
.heroimageparent {
  width: 100vw;
  height: 500px;
  overflow: hidden;
  position: relative;
}

.heroimage {
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.heroimage img {
  width: 100%;
  max-width: 100%;
}
</style>