---
import '../style.css'
const {image,variant = ""} = Astro.props;
---

<div class="heroimageparent">
  <div class="heroimage" id={variant} >
    <img src={image} alt="hero">
  </div>
</div>

<style>
@media (max-width: 460px) {
    .heroimageparent{
      position: relative;
      height: 500px;
      overflow: hidden;
      
  }
  
  .heroimage{
      display: flex;
      justify-content: center;
      transform: translate(0,-10%);
      height: 600px;
  }
  #front {
    transform: translate(65%, -10%);
  
  }
  #om {
    transform: translate(-45%, -5%);
  }
  #personale {
    transform: translate(-30%, -10%);
  }


}




@media (min-width: 460px) {
.heroimageparent {
    width: 100vw;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.heroimage {
    display: flex;
    justify-content: center;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.heroimage img {
    width: 100%;
    max-width: 100%;
  }
  #personale {
    transform: translateY(-35%);
  }
  #kontakt {
    transform: translateY(-30%);
  }
}
</style>