---
import '../style.css'
---



<div class="indholdsboksparent">
<h1>hello world</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo reprehenderit nam, ducimus blanditiis aut dolor obcaecati voluptates! Debitis ea repudiandae ut laudantium, rerum, facere sed exercitationem repellat architecto dolores accusantium?
Doloremque eligendi magnam soluta alias voluptatum nulla corrupti nemo qui tempora sapiente ea commodi sed rem quaerat, atque recusandae debitis exercitationem aliquid eum veritatis officia? Consequatur unde sunt minus repellendus.
Unde ipsa, earum qui perspiciatis neque autem, amet nesciunt nulla odio reiciendis accusantium pariatur ab. Saepe corrupti hic vitae provident asperiores, molestias nulla, ullam dolorum, recusandae praesentium deleniti cum perspiciatis?</p>
</div>


<style>
.indholdsboksparent {
    background-color: var(--bright-white);
    margin: 0 auto;
    padding: 60px;
    filter: drop-shadow(0 0 0.4rem rgba(0, 0, 0, 0.250));
    width: clamp(1200px, 75%, 1600px);
    align-items: center;
    position: relative;
    top: -100px;
}


</style>