---
import '../style.css'
---

<header class="mobilenav">
    <a href="/" class="logo">
        <img src="/icons/logofarvetekst.svg" alt="">
    </a>
    <div class="burgermenu">
        <span class="line"></span>
    </div>
    <nav class="mobilenav">
        <ul>
            <li><a href="/">Forside</a></li>
            <li><a href="/aabningstider">Åbningstider</a></li>
            <li><a href="/om">Om apoteket</a></li>
            <li><a href="/kontakt">Kontakt</a></li>
            <li><a href="/personale">Personale</a></li>
        </ul>
    </nav>
</header>

<style>
    @media (min-width: 460px) {
        header {
            display: none;
        }
        .mobilenav {
            display: none;
        }
    }
    header {
        position: relative;
        display: flex;
        height: 80px;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: var(--bright-white);
        z-index: 10;

    }
    .logo {
        height: 50px;

    }
    .logo img {
        width: 100%;
        height: 100%;
    }
    .burgermenu {
        height: 50px;
        width: 50px;
        cursor: pointer;
        border-style: solid;
        border-width: 0.5px;
        border-radius: 6px;
        border-color: var(--main-blue);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 400ms ease;
    }
    /* Animer burgermenu */
    .burgermenu.is-active {
        border-radius: 25px;
    }
    /* Vis bars i burgermenu*/
    .burgermenu .line, .burgermenu:after, .burgermenu:before {
        content: '';
        background-color: var(--main-blue);
        width: 35px;
        height: 2px;
        display: block;
        margin: 6px 0px;
        transition: all 400ms ease;
    }
    /* Animer bars */
    .burgermenu.is-active:before {
        transform: rotate(-45deg)translate(-10px, 10px); 
        width: 25px;
    }
    .burgermenu.is-active:after {
        transform: rotate(45deg) translate(-10px, -10px); 
        width: 25px;
    }
    .burgermenu.is-active .line {
        opacity: 0;
    }
    
  

    nav {
        top: 95px;
        left: 500px;
        position: fixed;
        width: 100vw;
        height: 500px;
        background-color: var(--dark-white);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 400ms cubic-bezier(.44,-0.31,.52,1.4);
        
    }
    /* Animate nav*/
    nav.is-active {
        left: 0;
        box-shadow: 0px 283px 100px 0px rgba(0, 0, 0, 0.25);
    }
    ul {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    li {
        background-color: var(--bright-white);
        width: 95vw;
        text-align: center;
        padding: 10px 0px;
        border-radius: 10px;
        list-style: none;
        
    }
    li:active {
        background-color: #D3D3D3;
    }
    a {
        text-decoration: none;
        color: var(--main-blue);
    }

    
</style>

<script>
    //function til at håndtere burgermenu
    //ville have lavet anonym function, men ser ikk ud til at man kan have flere af dem på samme tid

    function burgermenu() {
        //variables
        const menuBtn = document.querySelector('.burgermenu');
        const mobileMenu = document.querySelector('nav');
        console.log("test");
        //add eventlistener
            menuBtn.addEventListener('click', function(){
            //toggle is-active class
            menuBtn.classList.toggle('is-active')
            mobileMenu.classList.toggle('is-active')
    });
    }
    burgermenu();
</script>